.container {
  width: $mobile;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
