$black-color: #202025;
$grapefruit-color: #fd5103;
$orange-color: #fe7031;
$gray-color: #5f6775;
$white-color: #fcfcfc;

/* Sizes */
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

/* text */

/* animations */
$animation-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

.join-icon {
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #FFFFFF;
   }