<section class="gallery">
  <div class="container">
    <h1 class="gallery-title gallery-title_margin">Cocktails</h1>
    <ul class="gallery-list">
      <div class="gallery-loading">
        <div data-loader="" class="loader-type1">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </ul>
  </div>
</section>
