<section class="gallery">
  <div class="container">
    <h1 class="gallery-title gallery-title_margin">Cocktails</h1>
    <ul class="gallery-list">
      <div class="gallery-loading">
        <div data-loader="" class="loader-type1">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <!-- <li class="gallery-item">
        <picture>
          <source
            srcset="./images/test-icon-mobille.jpg"
            type="image/jpg"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/test-icon-tablet.jpg"
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)
            "
          />

          <source
            srcset="./images/test-icon-desktop.jpg"
            type="image/jpg"
            media="(min-width: 1200px)"
          />

          <img
            class="gallery-item__img_margin gallery-item__img"
            src="./images/test-icon-mobille.jpg"
            alt="coctaile"
          />
        </picture>

        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/test-icon-mobille.jpg"
            type="image/jpg"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/test-icon-tablet.jpg"
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
          />

          <source
            srcset="./images/test-icon-desktop.jpg"
            type="image/jpg"
            media="(min-width: 1200px)"
          />

          <img class="gallery-item__img_margin""
          src="./images/test-icon-mobille.jpg" alt="coctaile" />
        </picture>
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/test-icon-mobille.jpg"
            type="image/jpg"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/test-icon-tablet.jpg"
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
          />

          <source
            srcset="./images/test-icon-desktop.jpg"
            type="image/jpg"
            media="(min-width: 1200px)"
          />

          <img class="gallery-item__img_margin""
          src="./images/test-icon-mobille.jpg" alt="coctaile" />
        </picture>
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/test-icon-mobille.jpg"
            type="image/jpg"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/test-icon-tablet.jpg"
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
          />

          <source
            srcset="./images/test-icon-desktop.jpg"
            type="image/jpg"
            media="(min-width: 1200px)"
          />

          <img class="gallery-item__img_margin""
          src="./images/test-icon-mobille.jpg" alt="coctaile" />
        </picture>
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/test-icon-mobille.jpg"
            type="image/jpg"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/test-icon-tablet.jpg"
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
          />

          <source
            srcset="./images/test-icon-desktop.jpg"
            type="image/jpg"
            media="(min-width: 1200px)"
          />

          <img class="gallery-item__img_margin""
          src="./images/test-icon-mobille.jpg" alt="coctaile" />
        </picture>
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/test-icon-mobille.jpg"
            type="image/jpg"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/test-icon-tablet.jpg"
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
          />

          <source
            srcset="./images/test-icon-desktop.jpg"
            type="image/jpg"
            media="(min-width: 1200px)"
          />

          <img class="gallery-item__img_margin""
          src="./images/test-icon-mobille.jpg" alt="coctaile" />
        </picture>
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/test-icon-mobille.jpg"
            type="image/jpg"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/test-icon-tablet.jpg"
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
          />

          <source
            srcset="./images/test-icon-desktop.jpg"
            type="image/jpg"
            media="(min-width: 1200px)"
          />

          <img class="gallery-item__img_margin""
          src="./images/test-icon-mobille.jpg" alt="coctaile" />
        </picture>
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/test-icon-mobille.jpg"
            type="image/jpg"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/test-icon-tablet.jpg"
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
          />

          <source
            srcset="./images/test-icon-desktop.jpg"
            type="image/jpg"
            media="(min-width: 1200px)"
          />

          <img class="gallery-item__img_margin""
          src="./images/test-icon-mobille.jpg" alt="coctaile" />
        </picture>
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="./images/test-icon-mobille.jpg"
            type="image/jpg"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/test-icon-tablet.jpg"
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
          />

          <source
            srcset="./images/test-icon-desktop.jpg"
            type="image/jpg"
            media="(min-width: 1200px)"
          />

          <img class="gallery-item__img_margin""
          src="./images/test-icon-mobille.jpg" alt="coctaile" />
        </picture>
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li> -->
    </ul>
  </div>
</section>
