<section class="gallery">
  <div class="container">
    <h1 class="gallery-title gallery-title_margin">Cocktails</h1>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-item__img_margin"
          src="./images/test-icon-mobille.jpg"
          alt="coctaile"
        />
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item__img_margin"
          src="./images/test-icon-mobille.jpg"
          alt="coctaile"
        />
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item__img_margin"
          src="./images/test-icon-mobille.jpg"
          alt="coctaile"
        />
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item__img_margin"
          src="./images/test-icon-mobille.jpg"
          alt="coctaile"
        />
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item__img_margin"
          src="./images/test-icon-mobille.jpg"
          alt="coctaile"
        />
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item__img_margin"
          src="./images/test-icon-mobille.jpg"
          alt="coctaile"
        />
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item__img_margin"
          src="./images/test-icon-mobille.jpg"
          alt="coctaile"
        />
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item__img_margin"
          src="./images/test-icon-mobille.jpg"
          alt="coctaile"
        />
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item__img_margin"
          src="./images/test-icon-mobille.jpg"
          alt="coctaile"
        />
        <h2 class="gallery-item__title gallery-item__title_margin">Negroni</h2>
        <div class="button-container">
          <button class="button-more" type="button">Learn More</button>
          <button class="button-favorite" type="button">
            Add to
            <svg class="button-favorite__icon">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
