<section class="modal is-hidden modal-ingr" data-modal data-modal-ingredient>
  <div class="modal__window modal-ingr__window">
    <div class="modal__inner modal-ingr__inner">
      <div data-modal-ingredient-content></div>
      <div class="modal-ingr__btns">
        <button
          type="button"
          class="button-more modal-ingr__btn"
          data-modal-authentication-open
        >
          Add to favorite
        </button>
        <button
          type="button"
          class="button-more modal-ingr__btn"
          style="display: none"
        >
          Remove from favorite
        </button>
      </div>

      <button type="button" class="modal__close" data-modal-close>
        <svg class="modal__close__icon" data-modal-close>
          <use data-modal-close href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
