<section class="modal-ingr ">

    <div class="ingr-backdrop">
        <div class="tablet-desktop-ingr-modal">
            <h3 class="ingr-title">title</h3>
            <h4 class="ingr-subtitle">subtitle</h4>
            <div class="horiontal-line"></div>
            <div>
                <p class="ingr-description"><span class="ingr-description-b">Title</span> text</p>
                <ul class="ingridients-list list">
                    <li class="ingridients-item"><span class="star">✶ </span>Type: Bitters</li>
                    <li class="ingridients-item"><span class="star">✶ </span>Country of origin: Italy</li>
                    <li class="ingridients-item"><span class="star">✶ </span>Alcohol by volume: 20.5–28.5%</li>
                    <li class="ingridients-item"><span class="star">✶ </span>Flavour: Bitter, spicy and sweet</li>
                </ul>
            </div>

            <div class="btn-bottom-wrapper">
                <button type="button" class="button tablet-btn ingr-btn__add" style="display: none;">Add to
                    favorite</button>
                <button type="button" class="button tablet-btn ingr-btn__remove" style="display: block;">Remove from
                    favorite</button>
            </div>
            <div>
                <svg class="ingr-icon-close">
                    <use class="use-heart1" href="./images/symbol-defs.svg#icon-close-line"></use>
                </svg>
            </div>
        </div>
    </div>


</section>