.button-more {
  padding: 12px 38px;
  background-color: $grapefruit-color;
  border-radius: 4px;
  color: #fff;
  transition-property: background-color, color;
  transition: $animation-duration $transition-timing-function;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    background-color: #f5f5f5;
    color: $grapefruit-color;
  }
}
