.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.3);
  z-index: 3;
  opacity: 1;
  visibility: visible;
  @include transition(visibility, opacity);
}

.modal.is-hidden {
  @extend %is-hidden;
}

.modal__window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(#{$mobile} - 24px * 2);
  max-width: calc(100% - 24px * 2);
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;

  @media screen and (min-width: $desktop) {
    max-width: $mobile;
  }
}

.modal__inner {
  background-color: #fcfcfc;
  transform: scale(1);
  @include transition(transform);
}

.modal.is-hidden .modal__inner {
  transform: scale(0.7);
  @include transition(transform);
}

.modal__close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 14px;
  right: 14px;
  cursor: pointer;
  background-color: rgb(0 0 0 / 0);
  border: none;
  padding: 0;
  @include transition(opacity);

  @media screen and (min-width: $tablet) {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
  }
}

.modal__close svg {
  width: 18px;
  height: 18px;
  display: block;
  stroke: $grapefruit-color;

  @media screen and (min-width: $tablet) {
    width: 24px;
    height: 24px;
  }
}

.modal__close:hover,
.modal__close:focus {
  opacity: 0.5;
}

.modal__container {
  padding: 28px 16px;

  @media screen and (min-width: $tablet) {
    padding: 48px 32px;
  }
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

.modal__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 18px;
  color: $grapefruit-color;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.modal__form-label {
  display: block;
  font-size: 10px;
  color: $grapefruit-color;
  margin-bottom: 8px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.modal__form-input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 10px 12px;
  border: 1px solid $grapefruit-color;
  border-radius: 4px;
  background-color: inherit;
  outline: inherit;
  font-size: 12px;
  @include transition(border-color);
  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    height: 49px;
    font-size: 14px;
    padding: 16px;
    margin-bottom: 24px;
  }

  &-last {
    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 38px;
    }
  }

  &:focus {
    border: 1px solid #000;
  }

  &::placeholder {
    font-size: 12px;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }
  }

  &--required {
    border-color: rgb(185, 12, 12) !important;
  }
}
