.modal-cocktails{

    &__window{
        padding: 40px 20px;
        background-color: white;

        @media screen and(min-width:$tablet) {
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 760px;
            min-height: 598px;

            padding: 0;

          }
          @media screen and(min-width:$desktop) {
            width: 822px;
            min-height: 598px;
          }
    }

    &__title{
        margin-bottom: 20px;

        color: $black-color;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 1.2;
        text-transform: capitalize;

        body.dark-mode & {
            color: $white-color;
          }
        }

    &__subtitle{
        margin-bottom: 20px;

        font-size: 16px;
        font-family: 'Poppins';
        font-weight: 600;
        line-height: 1.6;
        text-transform: uppercase;

        body.dark-mode & {
            color: $white-color;
          }
    }

    &__text{
        margin-bottom: 32px;

        font-family: 'Poppins';
        color:#5F6775;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.7;

        body.dark-mode & {
            color: $white-color;
          }

        @media screen and(min-width:$tablet){
            display: none;
        }
    }

    &__img{
        display: block;
        border-radius: 4px;

        @media screen and(min-width:$tablet){
            width: 288px;
            height: 320px;
        }
    }

    &__smalltitle{
        margin-bottom: 8px;

        font-family: 'Poppins';

        font-weight: 300;
        font-size: 14px;
        line-height: 21px;

        body.dark-mode & {
            color: $white-color;
          }
    }

    &__list{
        margin-bottom: 32px;

        font-family: 'Poppins';
        color:#5F6775;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6; 

        body.dark-mode & {
            color: $white-color;
          }

    }

    &__card{
        @media screen and(min-width:$tablet){
            display: flex;
        }
    }

    &__bigcard{
        margin-left: 32px;
        padding-top: 40px;
    }

    &__tabinstructions{
        padding: 28px 179px 0 28px;
    }
    
}

.sub-ingredients{
    margin-bottom: 8px;

    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 1.6;
    text-transform: uppercase;

    body.dark-mode & {
        color: $white-color;
      }
}

.hidden-in-mobile{
    display: none;

    @media screen and(min-width:$tablet){
        display: inline-block;
    }
}

.hidden-in-tablet{
    @media screen and(min-width:$tablet){
        display: none;
    }
}

.button-modal-cocktails{
    background-color: #FD5103;
    color: white;
    font-weight: 400;
}


.modal-button-wrapper{
    @media screen and(min-width:$tablet){
    display: flex;
    justify-content: flex-end;
    padding-right: 28px;
    }
}


